#screen{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: .5em;
    padding: 2em 1em 0em;
    text-align: right;
}

#screen #formula{
    height: 28px;
    width: 100%;
    overflow: auto;
    font-size: 1.25rem;
}
#screen #display{
    /* height: px; */
    width: 100%;
    font-size: 2rem;
    overflow: auto;
} 