header{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 5fr 1fr 1fr;
    width: 100%;
    padding: .5em 1.3em .5em;
}
.switch-theme{
    position: relative;
    height: 1rem;
    width: 1.9rem;
    justify-self: end;
    background-color: var(--toggle-switch);
    border-radius: 1.5em;
    cursor: pointer;
    user-select: none;
}
.circle{
    height: 14px;
    width: 14px;
    background-color: var(--toggle-circle);
    border-radius: 2rem;
    position: absolute;
    top: .9px;
    left: 1.5px;
    cursor: pointer;
    user-select: none;
    transition: transform .3s, background-color .3s;
}

#github-logo{
    justify-self: end;
    color: var(--text-color);
    font-size: 1.1rem;
    position: relative;
    top: 3px;
    transition: color .3s;
}

time{
    position: relative;
    font-size: 1rem;
    top: 2px;
    user-select: none;
}