:root{
    --bg-primary-dark: #222;
    --bg-primary-light: #fff;

    --toggle-switch-color-dark: rgb(58, 58, 58);
    --toggle-circle-color-dark: #fff;

    --toggle-switch-color-light: rgb(240, 240, 240);
    --toggle-circle-color-light: rgb(58, 58, 58);

    --text-color-dark: #fff;
    --text-color-light: #222;

    --buttons-wrapper-primary-dark: rgb(58, 58, 58);
    --buttons-wrapper-primary-light: rgb(247, 247, 247);

    --buttons-color-dark: #222;
    --number-color-dark: #fff;

    --buttons-color-light: rgb(240, 240, 240);
    --number-color-light: rgb(53, 53, 53);
}
.light-theme{
    --bg-primary: var(--bg-primary-light);
    --text-color: var(--text-color-light); 

    --toggle-switch: var(--toggle-switch-color-light);
    --toggle-circle: var(--toggle-circle-color-light);
    
    --buttons-wrapper-primary: var(--buttons-wrapper-primary-light);
    --buttons-color: var(--buttons-color-light);
    --number-color: var(--number-color-light);
}
.dark-theme{
    --bg-primary: var(--bg-primary-dark);
    --text-color: var(--text-color-dark);
    
    --toggle-switch: var(--toggle-switch-color-dark);
    --toggle-circle: var(--toggle-circle-color-dark);
    
    --buttons-wrapper-primary: var(--buttons-wrapper-primary-dark);
    --buttons-color: var(--buttons-color-dark);
    --number-color: var(--number-color-dark);
}

.App{
    height: 85vh;
    width: 50vh;
    display: flex;
    color: var(--text-color);
    border-radius: 1.4rem;
    background-color: var(--bg-primary); 
    flex-direction: column;
    justify-content: space-between;
}

header{
    display: grid;
    align-items: center;
    grid-template-columns: 5fr 1fr 1fr;
    width: 100%;
    padding: .5em 1.3em .5em;
}
.switch-theme{
    position: relative;
    height: 1rem;
    width: 1.9rem;
    justify-self: end;
    background-color: var(--toggle-switch);
    border-radius: 1.5em;
    cursor: pointer;
    user-select: none;
}
.circle{
    height: .9rem;
    width: .9rem;
    background-color: var(--toggle-circle);
    border-radius: 2rem;
    position: absolute;
    top: .8px;
    left: .5px;
    cursor: pointer;
    user-select: none;
}

#github-logo{
    justify-self: end;
}

time{
    position: relative;
    font-size: 1rem;
    top: 2px;
    user-select: none;
}