:root{
    --bg-primary-dark: #222;
    --bg-primary-light: #fff;

    --toggle-switch-color-dark: rgb(58, 58, 58);
    --toggle-circle-color-dark: #fff;

    --toggle-switch-color-light: rgb(240, 240, 240);
    --toggle-circle-color-light: rgb(58, 58, 58);

    --text-color-dark: #fff;
    --text-color-light: #222;

    --buttons-wrapper-primary-dark: rgb(58, 58, 58);
    --buttons-wrapper-primary-light: rgb(247, 247, 247);

    --buttons-color-dark: #222;
    --number-color-dark: #fff;

    --buttons-color-light: rgb(240, 240, 240);
    --number-color-light: rgb(53, 53, 53);
}
.light-theme{
    --bg-primary: var(--bg-primary-light);
    --text-color: var(--text-color-light); 

    --toggle-switch: var(--toggle-switch-color-light);
    --toggle-circle: var(--toggle-circle-color-light);
    
    --buttons-wrapper-primary: var(--buttons-wrapper-primary-light);
    --buttons-color: var(--buttons-color-light);
    --number-color: var(--number-color-light);
}
.dark-theme{
    --bg-primary: var(--bg-primary-dark);
    --text-color: var(--text-color-dark);
    
    --toggle-switch: var(--toggle-switch-color-dark);
    --toggle-circle: var(--toggle-circle-color-dark);
    
    --buttons-wrapper-primary: var(--buttons-wrapper-primary-dark);
    --buttons-color: var(--buttons-color-dark);
    --number-color: var(--number-color-dark);
}

.App{
    height: 75vmax;
    width: 98vmin;
    max-height: 560px;
    max-width: 390px;
    display: flex;
    color: var(--text-color);
    border-radius: 1.4rem;
    background-color: var(--bg-primary); 
    flex-direction: column;
    justify-content: space-between;
    transition: color .3s, background-color .3s;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgb(58, 58, 58);
    height: 2em;
    line-height: 2em;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer a{
    
    color: rgb(123, 194, 212);
}

